.box-layout {
    background: url("../images/bg.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.box-layout__box {
    background: rgb(248, 242, 242);
    border-radius: 3px;
    padding: 1.6rem 1.2rem;
    text-align: center;
    width: 20rem;
}

.box-layout__title {
    margin: 0 0 1.2rem 0;
    line-height: 1;
}

.button {
    background: #1c88bf;
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1;
    padding: 0.6rem;
    text-decoration: none;
}

.button--secondary {
    background: #888888;
}

.button-link {
    background: none;
}

.header {
    background: #364051;
}

.header__title {
    color: white;
    text-decoration: none;
   
}

.header__title h1 {
    font-weight: 700;
}

.content-container {
    margin: 0 auto;
    padding: 0 1.2rem;
    max-width: 80rem;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0;
}

.page-header {
    background: #f7f7f7;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.page-header__title {
    font-weight: 300;
    margin: 0;
}

.page-header__title span {
    font-weight: bold;
}

.page-header__actions {
    margin-top: 1.2rem;

}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
    .input-group {
        flex-direction: row;
        margin-bottom: 1rem;
    }
}

.input-group__item {
    margin-bottom: 0.4rem;
    
}

@media (min-width: 992px) {
    .input-group__item {
        margin: 0 0.4rem 0 0;
    }
}

.text-input, .select, .textarea {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: 5;
    font-weight: 300;
    padding: 0.4rem;
}

.textarea {
    height: 10rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form > * {
    margin-bottom: 1.2rem;
}

.form__error {
    margin: 0 0 1.2rem 0;
    font-style: italic;
}


@media (min-width: 992px) {
    .show-for-mobile {
        display: none;
    }
}

@media (max-width: 991px) {
    .show-for-desktop {
        display: none;
    }
}

.list-header {
    background: #f7f7f7;
    border: 1px solid #f1f1f1;
    color: #666;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 1rem;
}

.list-item {
    border: 1px solid #f1f1f1;
    border-top: none;
    color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    text-decoration: none;
    transition: background .3s ease;
}

.list-item:hover {
    background: #f7f7f7;
}

@media (min-width: 992px) {
    .list-item {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;
    }
}

.list-item--message {
    align-items: center;
    color: #666;
    justify-content: center;
    padding: 1rem;
}

.list-item--message:hover {
    background: none;
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__subtitle {
    color: #666;
    font-size: 1.4rem;
}

.list-item__data {
    margin: 0.4rem 0 0 0;
}

@media (min-width: 992px) {
    .list-item__data {
        margin: 0;
        padding-left: 0.4rem;
    }
}




















* {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    color: #333333 ;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

.nav-link {
    margin: 0 10rem;
}